requests==2.31.0
docker==6.1.3
supabase==2.4.0
realtime==1.0.2
websocket-client==1.6.2
websockets==11.0.3
py-cpuinfo==9.0.0
gputil==1.4.0
psutil==5.9.8

httpx==0.25.2
httpcore==0.18.0
h11==0.14.0
anyio==3.7.1
sniffio==1.3.0
certifi==2024.2.2
idna==3.4
charset-normalizer==3.3.2
python-dateutil==2.8.2
six==1.16.0